{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Alta de Alumno{% endblock %}
{% block content %}
    <h2>Alta de Alumno</h2>
    <form method="post">
        {% csrf_token %}
        {{ alumno_form.nombre|as_crispy_field }}
        {{ alumno_form.apellidos|as_crispy_field }}
        {{ alumno_form.fecha_nacimiento|as_crispy_field }}
        {{ alumno_form.dni|as_crispy_field }}
        {{ alumno_form.email|as_crispy_field }}
        <button type="submit">Guardar</button>
    </form>
{% endblock %}