<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos Personales</title>
</head>
<body>
    <h1>Datos Personales del Usuario</h1>
    <p>Nombre: {{ usuario.nombre }}</p>
    <p>Apellidos: {{ usuario.apellidos }}</p>
    <p>Fecha de Nacimiento: {{ usuario.fecha_nacimiento }}</p>
    <p>DNI: {{ usuario.dni }}</p>
    <p>Email: {{ usuario.email }}</p>
    <hr>
    {% if usuario.rol|lower == 'alumno' %}
        <a href="{% url 'visualizar_tareas_alumno' usuario.id_usuario %}">Ver mis tareas</a>        
    {% elif usuario.rol|lower == 'profesor' %}
        <a href="{% url 'visualizar_tareas_profesor' usuario.id_usuario %}">Ver mis tareas</a>        
    {% endif %}    
</body>
</html>