{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Lista de Tareas{% endblock %}
{% block content %}
    <h2>Tareas del Alumno</h2>
    <p>Nombre del Alumno: {{ usuario.nombre }} {{ usuario.apellidos }}</p>
    <h2>Tareas Individuales del Alumno</h2>
    <ul>
        {% for tarea in tareas %}
            <li>{{ tarea.nombre_tarea }} - {{ tarea.tipo_tarea }} - Fecha de Entrega: {{ tarea.fecha_entrega }}</li>
        {% endfor %}
    </ul>
    <h2>Tareas Grupales del Alumno</h2>
    <ul>
        {% for tarea in tareas_grupales %}
            <li>{{ tarea.nombre_tarea }} - {{ tarea.tipo_tarea }} - Fecha de Entrega: {{ tarea.fecha_entrega }}</li>
        {% endfor %}
    </ul>
{% endblock %}